.container {
    --container-width: 1200px;
    --container-padding: 15px;

    margin: 0 auto;
    padding: 0 var(--container-padding);
    max-width: calc(var(--container-width) + var(--container-padding) * 2);
}